= content_for :extra_engine_css do
  = stylesheet_link_tag 'landing/application'

.jumbotron
  .container
    .row.header
      .col-xs-12.text-center

        %h1
          %span.sr-only KATUMA

        = form_tag(account.signup_path, {method: 'post', class: ' landing-signup-form'}) do
          .form-inline

            .form-group
              %label.sr-only{for: 'email'}=t('account.session.email_placeholder')
              %input#email.form-control.input-lg{placeholder: t('account.session.email_placeholder'), type: "email"}

            %button{type: 'submit', class: 'btn btn-default btn-primary btn-lg'}
              = t('landing.signup_button')

.services
  .container
    .row
      .col-sm-12.col-md-4.col-md-offset-2
        %h2=t("landing.slogan")

      .col-sm-12.col-md-4
        %ul.services__items
          %li
            %i.fa.fa-check-circle
            =t("landing.services.one")
          %li
            %i.fa.fa-check-circle
            =t("landing.services.two")
          %li
            %i.fa.fa-check-circle
            =t("landing.services.three")


.footer
  .container
    .row
      .col-sm-12.col-md-4.col-md-offset-2
        .landing-login
          %p.small= t('landing.already_member')
          %a{href: account.login_path, class: 'btn landing-login__button btn-sm'}
            = t('landing.login_button')

      .col-sm-12.col-md-4
        %p
          %a{:href => "https://github.com/coopdevs"}
            %i.fa.fa-github
            %span=t("landing.footer.github")

        %p
          %a{:href => "https://twitter.com/katuma_org"}
            %i.fa.fa-twitter
            %span=t("landing.footer.twitter")

        %p
          %a{:href => "mailto:info@katuma.org"}
            %i.fa.fa-envelope
            %span=t("landing.footer.contact")
