- if flash[:error]
  %p= flash[:error]
#signupbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{style: "margin-top:50px;"}
  .panel.panel-info
    .panel-heading
      .panel-title
        Complete sign up for
        %em= @signup.email
      %div{style: "float:right; font-size: 80%; position: relative; top:-10px"}
    .panel-body{style: "padding-top:30px"}
      = form_tag(complete_signup_path, { method: 'post', class: 'complete-signup-form' }) do
        %input#email{name: "email", type: "hidden", value: "#{@signup.email}"}/
        %input#token{name: "token", type: "hidden", value: "#{@signup.token}"}/
        .input-group{style: "margin-bottom: 25px"}
          %span.input-group-addon
            %i.glyphicon.glyphicon-user
          %input#username.form-control{name: "username", placeholder: "Username", type: "text"}/
        .input-group{style: "margin-bottom: 25px"}
          %span.input-group-addon
            %i.glyphicon.glyphicon-lock
          %input#password.form-control{name: "password", placeholder: "Password", type: "password"}/
        .input-group{style: "margin-bottom: 25px"}
          %span.input-group-addon
            %i.glyphicon.glyphicon-lock
          %input#password-confirmation.form-control{name: "password_confirmation", placeholder: "Repeat password", type: "password"}/
        .input-group
          .form-group{style: "margin-top:10px"}
            .col-sm-12.controls
              %button#signupSubmit.btn.btn-success{type: "submit"} Sign up
