<!DOCTYPE html>
<html>
<head>
  <title>Katuma.org</title>
  <%= stylesheet_link_tag "shared/manifests/application" %>
  <%= render_manifests('css') %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard">Katuma</a>
    </div>
    <div class="js-nav-buttons collapse navbar-collapse">
      <a type="button" class="js-login-button btn btn-default navbar-btn navbar-right" href="#/login">Log in</a>
      <a type="button" class="js-signup-button btn btn-default navbar-btn navbar-right" href="#/signup">Sign up</a>
    </div>
    <% flash.each do |type, content| %>
      <% if content.respond_to?('each')
           content.each do |item| %>
             <%= render 'shared/layouts/alert', type: type, content: item %>
           <% end %>
      <% else %>
         <%= render 'shared/layouts/alert', type: type, content: content %>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
  <%= javascript_include_tag "shared/manifests/application" %>
  <%= render_manifests('js') %>
</body>
</html>
