<!DOCTYPE html>
<html>
<head>
  <title>Katuma.org</title>
  <%= stylesheet_link_tag "shared/manifests/application" %>
  <%= render_manifests('css') %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>

  <%= javascript_include_tag "shared/manifests/application" %>
  <%= render_manifests('js') %>
</body>
</html>
