.panel.panel-default
  .panel-heading
    %h3.panel-title Settings
  .panel-body
    = form_for @group, url: { action: 'update' } do |f|
      .form-group
        = f.label 'Group name:', for: 'group:name'
        = f.text_field :name, class: 'form-control'
      = f.submit 'Save changes', class: 'btn btn-success'
    %button#js-group-destroy.btn.btn-danger{"data-target" => "#destroyGroupModal", "data-toggle" => "modal"} Destroy group
#destroyGroupModal.modal{"aria-hidden" => "true", "aria-labelledby" => "destroyGroupModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#destroyGroupModalLabel.modal-title Destroy group
      .modal-body
        You are going to
        %strong
          destroy #{@group.name}
        group. Are you sure?
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        = form_for @group, method: :delete do |f|
          = f.submit 'Destroy', class: 'btn btn-danger'
